<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Video Analyzer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="home-container">
        <center>
            <h1 class="proj-title">YouTube Video Analyzer Using Sentiment Analysis</h1>
            <br/><br/>
            <form action="/analyze" method="POST">
                <input type="text" placeholder="Enter the video url here" name="url" class="input"/>
                <br/><br/>
                <input type="submit" value="Analyze" class="btn"/>
            </form>
    </center>
    </div>
</body>
</html>